@font-face {
    font-family: 'Nippo-Variable';
    src: url('../fonts/nippo/Nippo-Variable.woff2') format('woff2'),
        url('../fonts/nippo/Nippo-Variable.woff') format('woff'),
        url('../fonts/nippo/Nippo-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Nippo-Extralight';
    src: url('../fonts/nippo/Nippo-Extralight.woff2') format('woff2'),
        url('../fonts/nippo/Nippo-Extralight.woff') format('woff'),
        url('../fonts/nippo/Nippo-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Nippo-Light';
    src: url('../fonts/nippo/Nippo-Light.woff2') format('woff2'),
        url('../fonts/nippo/Nippo-Light.woff') format('woff'),
        url('../fonts/nippo/Nippo-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Nippo-Regular';
    src: url('../fonts/nippo/Nippo-Regular.woff2') format('woff2'),
        url('../fonts/nippo/Nippo-Regular.woff') format('woff'),
        url('../fonts/nippo/Nippo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Nippo-Medium';
    src: url('../fonts/nippo/Nippo-Medium.woff2') format('woff2'),
        url('../fonts/nippo/Nippo-Medium.woff') format('woff'),
        url('../fonts/nippo/Nippo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Nippo-Bold';
    src: url('../fonts/nippo/Nippo-Bold.woff2') format('woff2'),
        url('../fonts/nippo/Nippo-Bold.woff') format('woff'),
        url('../fonts/nippo/Nippo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

:root {
    --black: rgb(11, 12, 13);
    --white: rgb(255, 255, 255);
    --teal: rgb(128, 255, 159);
    --purple: rgb(153, 85, 187);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'DM Sans',
        sans-serif;
}

.container {
    height: 100%;
    color: var(--white);
    background: var(--black);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 40px;
}

.logo img {
    width: 250px;
}

nav label ion-icon {
    font-size: 3rem;
    cursor: pointer;
}

#menu-button {
    display: none;
}

#menu-button:checked~.menu {
    right: 0%;
}

.menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    background-color: var(--black);
    align-items: center;
    position: fixed;
    z-index: 1;
    right: -100%;
    top: 0;
    transition: all ease 0.3s;
}

.menu label ion-icon {
    font-size: 3rem;
    position: absolute;
    left: 5%;
    top: 3.5%;
    cursor: pointer;
}

.menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: inherit;
    top: 15%;
    margin: auto;
    width: 60%;
}

.menu ul li label {
    text-transform: capitalize;
    transition: all ease 0.3s;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
}

.menu ul li .box-title:hover {
    color: var(--teal);
    border-bottom: 1px solid var(--teal);
}

.menu ul input {
    display: none;
}

.menu ul li input:checked+.box {
    height: auto;
    margin: 16px 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32);
}

.menu ul li input:checked+.box .box-title {
    border-bottom: 1px solid rgba(0, 0, 0, .18);
}

.menu ul li input:checked+.box .box-content,
.menu ul li input:checked+.box .box-close {
    display: inline-block;
}


.box {
    position: relative;
    background: inherit;
    height: 150px;
    transition: all ease 0.2s;
    text-align: center;
}

.box-title {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box-content {
    width: 100%;
    padding: 30px 20px;
    display: none;
    font-size: 1rem;
}

.box-close {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

.about-section {
    padding: 50px 200px;
    color: var(--teal);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-section p {
    width: 450px;
    font-size: 1.7rem;
    font-weight: 500;
    text-align: justify;
    font-family: "Nippo-Medium";
}

.features-section {
    display: flex;
    margin: 50px;
    justify-content: space-evenly;
}

.features {
    margin: 30px;
    font-size: 1.2rem;
    border: 1px solid var(--white);
    text-align: center;
    text-transform: capitalize;
    padding: 10px 20px;
    box-shadow: -5px 5px 0 rgba(255, 255, 255, 1);
    cursor: pointer;
}

.waitlist-section {
    margin: 80px 50px;
    text-align: center;
}

.waitlist-section h3 {
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: 'Nippo-Regular';
    font-weight: 400;
}

.waitlist-section p {
    font-size: 0.9rem;
    word-spacing: 2px;
    margin-bottom: 3px;
}

.waitlist-section p span:nth-child(1) {
    color: var(--purple);
    font-size: inherit;
}

.waitlist-section p span:nth-child(2) {
    color: var(--teal);
    font-size: inherit;
}

.waitlist-section p span:nth-child(3) {
    font-size: 1.2rem;
}

.waitlist-section form {
    position: relative;
}

.waitlist-section form span i {
    border: none;
    position: absolute;
    left: 15%;
    top: 20%;
}

.waitlist-section form span i {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
}

.waitlist-section form input:nth-child(2) {
    width: 70%;
    padding: 10px 20px;
    padding-left: 10%;
    text-align: center;
    border: none;
    background: var(--white);
    font-size: 0.9rem;
    text-transform: lowercase;
    letter-spacing: 4px;
    outline: none;
    margin-right: 3px;
}

.waitlist-section form input:nth-child(3) {
    padding: 10px 25px;
    background: var(--teal);
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
}

.gtk-section {
    margin: 40px;
}

.gtk-section h3 {
    text-transform: capitalize;
    color: var(--teal);
    letter-spacing: 3px;
    font-size: 1.7rem;
    font-weight: 500;
    font-family: "Nippo-Medium";
}

.gtk-section h3 span {
    margin-right: 30px;
    color: var(--purple);
}

.gtk-section h3 span i {
    font-size: 1.5rem;
}

.gtk-section p {
    margin-left: 50%;
    padding: 10px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.1rem;
}

.gtk-section p span {
    color: var(--purple);
    font-size: inherit;
}

.tags-section {
    margin: 70px 40px;
}

.tags-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.tags-section div {
    display: flex;
    justify-content: space-evenly;
}

.tags-section div p {
    font-size: 1.5rem;
    color: var(--teal);
    font-weight: 500;
}

#fade {
    background: rgba(66, 179, 173, 0.5);
    background: linear-gradient(to bottom, rgba(67, 179, 174, 0.5) 40%, rgba(153, 85, 187, 0.5) 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 40px;
}

footer p {
    font-size: 1.3rem;
    color: var(--teal);
}

.social-icons div a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    padding-right: 5px;
    margin-bottom: 5px;
}

footer .social-icons {
    font-size: 1.5rem;
}

footer .social-icons p {
    color: rgba(255, 255, 255, 0.3);
    font-size: 0.7rem;
}

@media only screen and (min-width : 200px) and (max-width : 680px) {
    * {
        font-size: 13px;
    }

    header {
        padding: 0 20px;
    }

    .logo img {
        width: 30%;
    }

    nav label ion-icon {
        font-size: 2.5rem;
    }

    .menu {
        width: 70%;
    }

    .menu label ion-icon {
        font-size: 2.5rem;
    }

    .menu ul {
        top: 10%;
    }

    .menu .tags-section {
        display: none;
    }

    .about-section {
        padding: 30px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-section p {
        width: 300px;
        text-align: center;
        letter-spacing: 2px;
    }

    .features-section {
        margin: 40px 0px;
    }

    .features {
        width: 100%;
        padding: 10px;
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
    }

    .waitlist-section form span i {
        left: 7%;
    }

    .waitlist-section form input:nth-child(2) {
        letter-spacing: 2px;
        padding-left: 16%;
    }

    .gtk-section h3 {
        font-size: 1.2rem;
    }

    .gtk-section p {
        text-align: left;
        font-size: 0.9rem;
        font-weight: 400;
    }

    .tags-section div p {
        padding-right: 5px;
        font-size: 1rem;
    }

    footer {
        justify-content: center;
    }

    footer div a i {
        font-size: 1.1rem;
    }
}